h1{
    text-align: center;  
    
  }
  
  
  .Signup-form{
     max-width: 450px;
     border-radius: 20px;
     margin: auto;
     background-color: rgba(0,0,0,0.8);
     box-sizing: border-box;
     padding: 40px;
     color: #fff;
     margin-top: 100px;
  
      
  }
  .main{
      height: 100vh;
      
  }
  .Signup-form,label{
     font-weight: 700;
     
  }
  input[type=text],input[type=password],input[type=email]{
      width: 100%;
      box-sizing: border-box;
      padding: 12px 10px;
      background-color: rgba(0,0,0,0.10);
      outline: none;
      border-bottom: 1px solid grey;
      color: antiquewhite;
      border-radius: 5px;
      margin: 5px;
      border: none;
      font-weight: bold;
  }
  input[type=submit]{
      margin-left: 50px;
      margin-top: 15px;
  }
  
   span{
      color:red;
   }
  